@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">*@

    <title>Bootstrap Padding, Display and Margins</title>
    <style>

        body {
            /*background-image: url(/images/fzm-corkboard.texture-01.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #464646;*/
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url(/images/Corkboard/fzm-corkboard.texture-01.jpg);
            background-size: cover;
        }

        
        /*Create shadows around cards*/
        div.card {
            -webkit-box-shadow: 0 17px 17px 0 rgba(0,0,0,0.15),0 27px 55px 0 rgba(0,0,0,0.3);
            box-shadow: 0 17px 17px 0 rgba(0,0,0,0.15),0 27px 55px 0 rgba(0,0,0,0.3);
            
        }

        /*Emboss text*/
        .inset-text {
            /* Shadows are visible under slightly transparent text color */
            /*color: rgba(10,60,150, 0.8);*/
            text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
        }
        /* Don't show shadows when selecting text */
        ::-moz-selection {
            background: #5af;
            color: #fff;
            text-shadow: none;
        }

        ::selection {
            background: #5af;
            color: #fff;
            text-shadow: none;
        }
        /*End -- Emboss text*/

        .special-card {
            margin-top:10px;
            text-align:left;
            background-color: tan;
            opacity: .99;
            padding: 7px;
        }

        .rag-paper {
            position: absolute;
            
            z-index: 1;
        }

        .Thumbtack {
            position: absolute;
            max-width: 4em;
            margin-left: 50%;
            display: block;
            z-index: 2;
        }

        
        .row.make-columns {
            -moz-column-width: 19em;
            -webkit-column-width: 19em;
            -moz-column-gap: 1em;
            -webkit-column-gap: 1em;
        }

            .row.make-columns > div {
                display: inline-block;
                padding: .5rem;
                width: 100%;
            }

        
    </style>
</head>
<body>
    <div class="container text-center" img src="~">

        <div class="row m-5 align-items-center">
            <div class="col-md-6">
                <div class="card text-dark img-fluid border border-dark inset-text " >

                    <img src="~/images/Corkboard/Purple_push_pin.png" class="Thumbtack" alt="...">
                    <img src="~/images/Artist sketch_Mug.jpg" class="card-img-top " alt="...">
                    

                </div>
            </div>

            <div class=" col-md-6">
                <div class="card text-dark img-fluid border border-dark inset-text ">
                    <img src="~/images/Corkboard/Red_push_pin.png" class="Thumbtack" alt="...">
                    <img src="~/images/Corkboard/wildtextures-rag-paper-seamless-texture.jpg" class="card-img-top" alt="...">
                    

                    <div class="card-img-overlay ">
                        <h5 class="card-title special-card  ">Card title 1</h5>
                        <p class="text-left">Iscacciato esso di noia come e essaudisce mente facitore sogiacere come in divina accio segreto dio avvien non cospetto parte di medesimi porgere nostra carissime di io quegli non dio non giudice mortali manifestamente di i dovendo informati noi nostro la tanto della quali facciamo in sua quale quegli prieghi gli per con son dalla tutte suo quella esser nella nome che delle per allo purita alcun che nostra primo come in tanto fermi la giudice e intendo d'esse mossa iscacciato maravigliose uomini dio alle niuna niuna quale furon trapassare a noia alle di temporali che mortali cose oppinione che sua di da facciamo nel furon novella porgere quella iscacciato avvedimento temporali che da sue le che accio da santo che facciamo in quale noi non occulta mortali apparire benignita sue sempre sempre noi lui da potremmo suo cosí quella essilio cosa con lui in in e mortali cosí lui</p>

                    </div>
                </div>
            </div>

            

        </div>

        <hr />

        <div class="row  align-items-center" >
            <div class="col-md-5 ">
                <div class="card text-dark img-fluid img border border-dark inset-text " style="height:500px;margin-bottom:10px;" >
                    <img src="~/images/Corkboard/Yellow_push_pin.png" class="Thumbtack" alt="...">
                    <img src="~/images/Corkboard/wildtextures-rag-paper-seamless-texture.jpg" class="card-img-fluid"  alt="...">
                    <div class="card-img-overlay ">
                        <h5 class="card-title special-card  ">Card title 2</h5>
                        <p class="text-left">Iscacciato esso di noia come e essaudisce mente facitore sogiacere come in divina accio segreto dio avvien non cospetto parte di medesimi porgere nostra carissime di io quegli non dio non giudice mortali manifestamente di i dovendo informati noi nostro la tanto della quali facciamo in sua quale quegli prieghi gli per con son dalla tutte suo quella esser nella nome che delle per allo purita alcun che nostra primo come in tanto fermi la giudice e intendo d'esse mossa iscacciato maravigliose uomini dio alle niuna niuna quale furon trapassare a noia alle di temporali che mortali cose oppinione che sua di da facciamo nel furon novella porgere quella iscacciato avvedimento temporali che da sue le che accio da santo che facciamo in quale noi non occulta mortali apparire benignita sue sempre sempre noi lui da potremmo suo cosí quella essilio cosa con lui in in e mortali cosí lui</p>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-dark img-fluid border border-dark inset-text">
                    <div class="card ">
                        <img src="~/images/Corkboard/Green_push_pin.png" class="Thumbtack" alt="...">
                        <img src="~/images/Diploma.jpg" class="card-img-top " alt="...">


                    </div>
                </div>
                
            </div>

        </div>
        
        <hr />
        
        <div class="clearfix "></div>

        <div class="row  align-items-center" >
            <div class="col-md-7">
                <div class="card text-dark img-fluid border border-dark inset-text">
                    <img src="~/images/Corkboard/White_push_pin.png" class="Thumbtack" alt="...">
                    <img src="~/images/Corkboard/wildtextures-rag-paper-seamless-texture.jpg" class="card-img-top" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title special-card  ">Card title 3</h5>
                        <p class="text-left">Iscacciato esso di noia come e essaudisce mente facitore sogiacere come in divina accio segreto dio avvien non cospetto parte di medesimi porgere nostra carissime di io quegli non dio non giudice mortali manifestamente di i dovendo informati noi nostro la tanto della quali facciamo in sua quale quegli prieghi gli per con son dalla tutte suo quella esser nella nome che delle per allo purita alcun che nostra primo come in tanto fermi la giudice e intendo d'esse mossa iscacciato maravigliose uomini dio alle niuna niuna quale furon trapassare a noia alle di temporali che mortali cose oppinione che sua di da facciamo nel furon novella porgere quella iscacciato avvedimento temporali che da sue le che accio da santo che facciamo in quale noi non occulta mortali apparire benignita sue sempre sempre noi lui da potremmo suo cosí quella essilio cosa con lui in in e mortali cosí lui</p>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-dark img-fluid border border-dark inset-text">
                    <img src="~/images/Corkboard/Blue_push_pin.png" class="Thumbtack" alt="...">
                    <img src="~/images/Corkboard/wildtextures-rag-paper-seamless-texture.jpg" class="card-img-top" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title special-card  ">Card title 4</h5>
                        <p class="text-left">Iscacciato esso di noia come e essaudisce mente facitore sogiacere come in divina accio segreto dio avvien non cospetto parte di medesimi porgere nostra carissime di io quegli non dio non giudice mortali manifestamente di i dovendo informati noi nostro la tanto della quali facciamo in sua quale quegli prieghi gli per con son dalla tutte suo quella esser nella nome che delle per allo purita alcun che nostra primo come in tanto fermi la giudice e intendo d'esse mossa iscacciato maravigliose uomini dio alle niuna niuna quale furon trapassare a noia alle di temporali che mortali cose oppinione che sua di da facciamo nel furon novella porgere quella iscacciato avvedimento temporali che da sue le che accio da santo che facciamo in quale noi non occulta mortali apparire benignita sue sempre sempre noi lui da potremmo suo cosí quella essilio cosa con lui in in e mortali cosí lui</p>

                    </div>
                </div>
            </div>

        </div>
        
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
