@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">*@
    <link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>

    <link href="~/css/CorkBoard.css" rel="stylesheet" />

    <title>Bootstrap Padding, Display and Margins</title>

</head>
<body>
    <div class="container text-center" img src="~">

        <div class="row  mt-5  align-items-center ">
            <div class="col-sm-5">
                <div class="card  card-deck-Background">


                    <img src="~/images/Corkboard/Red_push_pin.png" class="Thumbtack-right" alt="...">
                    <img src="~/images/Corkboard/Red_push_pin.png" class="Thumbtack-left" alt="...">

                    <h1 class="card-header ">Ted Wallick</h1>



                </div>

                <div class="card mt-4 Border-Picture">

                    @*<img class="Thumbtack" src="~/images/Corkboard/Red_push_pin.png" alt="...">*@

                    <img src="~/images/Corkboard/Red_push_pin.png" class="Thumbtack-right" alt="...">
                    <img src="~/images/Corkboard/Red_push_pin.png" class="Thumbtack-left" alt="...">

                    @*<img class="card-img" src="~/images/Mug_Notebook.jpg" alt="...">*@
                    <img class="card-img" src="~/images/Mug_101318.jpg" alt="...">
                </div>

            </div>

            <div class=" col-sm-7">
                <div class="card img-fluid ">
                    <img src="~/images/Corkboard/Red_push_pin.png" class="Thumbtack-right" alt="...">
                    <img src="~/images/Corkboard/Red_push_pin.png" class="Thumbtack-left" alt="...">

                    <div class="scroll ">
                        <h1 class="card-header  ">
                            Introduction
                        </h1>


                    </div>
                </div>

                <div class="card img-fluid mt-4 ">
                    <img class="Thumbtack" src="~/images/Corkboard/Red_push_pin.png" alt="...">

                    <div class="p-5">
                        <p class="text-left tab ">
                            Microsoft full stack programming is my specialization. Offering exceptional troubleshooting skills with a talent for developing solutions to unusual and difficult problems. Being reliable and efficient guarantees that all jobs will be completed on time, in scope, and within budget.
                        </p>
                        <p class="text-left tab">
                            I  am equally competent in presentation, application and data tier programming, having completed several projects where I had to develop all three tiers.
                        </p>
                        <p class="text-left tab">
                            My primary focus is in the 4th, 5th and 6th core processes of the

                            <a href="#sdlcModal" data-id="https://lh3.googleusercontent.com/QZi_Uh_-r5iQJ_RGEbsXwtFVmxOiRRhi3VdmaSmv2HG2hrpHzDJ5gP_XzwL3wMfeaOeKu32qB3v-05u1QvZFA_ZLJ7C36OyjJR5-mjYf6OntOC7ShesdaXHHcAF3UpO7hvtsaZ9RRSL8IxXpjaxTrBn39ui6iH4EJ7RS0GM2xaHgJA1-Grz7MpMadgRK5kMndyNJDmgUUThliUqtXU8NBJWDv8x2twpUIu8szTkpxAQ9jylTeYmwPEmsyJOdQlGHoL1EsbZ5Ijhi_UvEDJ8ziB07CeVVdtyVvn-VaW8aNPAADORBAWPvpjwKOGGtgfZmEAIy-bID4MoP71BZXL0ZxNXJeE44lN5vNVENa7dfy57S29KGKQl_5nUYzWJZnO5vInQXnlhnFF59v0Pwasr0ANoNQ5SC-0qBK8-TLH9pXAyRxeI0bxo2116Q_f6Sb3Jny06JleiaDNI13m_tth5Q8gGruUiWJEgv9QiocVLFVGLsuR17N911NAfMs3b6TuO0ove1-JkB2F5IcDywaL0yF1CwxESicxBtvqTkk0z6pU6-nQlOGncvud6Nqqqx5sOfO6ZVdtyJPpV-QoKbCh6SCTMg6NWQfNZPQDE2wl4w6alPClPHLAqFKHQ1ku7GeBoR_YyvTAgUJmh4A0EBUikuqEnyqv8y-w=s600-no" class="openImageDialog thumbnail" data-toggle="modal">

                                System Development Life cycle
                            </a>
                            , though I do have some experience in the other core processes.
                        </p>
                        <p class="text-left tab">
                            Currently, I am seeking full time , non-contract, employment at minimal industry standard compensation.

                        </p>
                    </div>
                </div>

            </div>

        </div>


        <div class="row justify-content-center">

            <div class="col-sm-7 mt-5">
                <div class="card img-fluid   ">
                    <img src="~/images/Corkboard/Red_push_pin.png" class="Thumbtack-right" alt="...">
                    <img src="~/images/Corkboard/Red_push_pin.png" class="Thumbtack-left" alt="...">

                    <h1 class="card-header ">My History</h1>
                </div>

                <div class="card  img-fluid mt-4  scroll" style="height:500px">
                    <img class="Thumbtack" src="~/images/Corkboard/Red_push_pin.png" alt="...">

                    <div class="p-4 mt-3">
                        <p class="text-left tab">I was born February 27, 1967 in Louisville, Kentucky. I am a graduate of Trinity High school in 1986. I earned my Associates at Louisville Technical Institute (Sullivan University) in 1991. I went to work at a small repair shop doing component level repairs on monitors, printers, and computers. This, I did for about three months. A friend, new I was pursuing the wrong career and introduced me to two guys with a peculiar problem. </p>
                        <p class="text-left tab">Document Control Systems needed to develop a document production system that involved doing Optical Character recognition on a few million physical page documents then export the images and text to a system that had no means of importing. They took this job without any idea how to pull it off and the out of box software was useful but inadequate.</p>
                        <p class="text-left tab">
                            I wrote software as a hobby, making databases to organize my various collections and some games. So, I offered to give the project a go. They had nothing to lose but to let me have at it. The schedule is tight with only 3 months to start scanning production and 3 months to produce the final product, the destination retrieval system loaded with all documents and associated data. The project is given a reasonable budget and cannot exceed that budget.
                        </p>

                        <p id="sdlc" class="text-left tab">
                            The project was a resounding success. Analysis was completed in 3 days after I got a good look at what they had and determined what was needed. The design, which involved some un planned proof of concept programming was completed within the first 2 weeks. The first round of development on the DPS core system Scan, Index, and Administrator was completed? by the end of month 2 and production was able to be started 1 month early. By the end of the 3rd month, the distributed Optical Character Recognition system (OsCaR) had been designed and developed and pressed into service processing all the collected images thus far.
                        </p>
                        <p class="text-left tab">
                            At this time the next large-scale scan job, another legal case, came along with many different parameters. We only had to make minor adjustments to the DPS to accommodate. By the end of the 4th month we had completed production of the first job and had the 2nd job half completed. After which the DPS has evolved and processed hundreds of paper to digital conversions over our 19 years of service.
                        </p>
                        <p class="text-left tab">  <Link to BSA-376 Systems Analysis and Design></p>
                        <p class="text-left tab">
                            DCS closed their doors November 2010. That was a bad day with a rude awakening. See, I was 100% self-taught, I thought all those years of practical experience would have counted for something, umm nope. The software world changed around me. These days one must have at least a Bachelor degree before any employer will even talk to me.

                        </p>
                        <p class="text-left tab">
                            Since DCS, I have been surviving by doing temp labor work with the occasional software development contract. In 2013  I looked at many universities and settled on University of Phoenix as it offered two tracks of interest to me. I went with the Web design track but was able to mix in courses from the systems/application development track to avoid courses that had no relevant value. It has been a long road filled with fits and starts, when you are working poor stuff happening causes delays and class completion problems. Despite the rocky road, I will be graduating in March 2019 with a bachelor degree  of Science in Information Technology with a focus on systems design and implementation.
                        </p>
                    </div>

                    <div card="card-footer"></div>
                </div>

            </div>

            <div class="col-sm-5 mt-5">
                <div class="card Border-Picture  img-fluid">
                    <div class="card ">
                        @*<img src="~/images/Corkboard/Red_push_pin.png" class="Thumbtack" alt="...">*@
                        <img src="~/images/temp_UoP_Diploma.jpg" class="card-img-top " alt="...">


                    </div>
                </div>

            </div>

        </div>


        <div class="row align-items-center">
            <div class="col-sm-12 mt-5" style="">
                <img src="~/images/Corkboard/Red_push_pin.png" class="Thumbtack-right" alt="...">
                <img src="~/images/Corkboard/Red_push_pin.png" class="Thumbtack-left" alt="...">


                <div class="card card-deck-Background " >
                    @*<img class="card-img-top" src="~/images/Corkboard/wildtextures-rag-paper-seamless-texture.jpg"  alt="...">*@

                    <div class="">
                        <div class="card-header">
                            <h1 class="card-text">Highlights</h1>
                        </div>

                        <div class="card-deck  p-3">
                            <div class="card">
                                <img class="Thumbtack" src="~/images/Corkboard/Red_push_pin.png" alt="...">
                                <h5 class="card-header text-center mt-3">Languages I have used</h5>
                                <div class="card-body">
                                    
                                    <dl class="row mt-1">
                                        <dt class="col-sm-3">C#</dt>
                                        <dd class="col-sm-9">Primary language</dd>

                                        <dt class="col-sm-3">VB.net</dt>
                                        <dd class="col-sm-9">Previous primary language</dd>

                                        <dt class="col-sm-3">Delphi </dt>
                                        <dd class="col-sm-9">A.K.A. Visual Pascal</dd>

                                        <dt class="col-sm-3">C++</dt>
                                        <dd class="col-sm-9">Never used but passed with A+ grade</dd>

                                        <dt class="col-sm-3">Java</dt>
                                        <dd class="col-sm-9">Never used but passed with A+ grade</dd>

                                    </dl>
                                </div>

                            </div>
                            <div class="card ">
                                <img class="Thumbtack" src="~/images/Corkboard/Red_push_pin.png" alt="...">
                                <h5 class="card-header text-center mt-3">Past Accomplishments</h5>
                                <div class="card-body text-left">
                                    <ul>
                                        <li>Built paper to data and image storage software</li>
                                        <li>Created many Data manipulation applications</li>
                                        <li>A lot of experience writing integration and automation software to various out of the box software</li>
                                        <li>Conversion of source code from one language to another</li>
                                        <li>Recreating source code for apps that have no source code, based on what the app is supposed to be doing</li>
                                    </ul>
                                </div>

                            </div>
                            

                        </div>
                    </div>



                </div>
            </div>
        </div>

       
    </div>


    <!--SDLC Modal -->
    <div class="modal fade" id="sdlcModal" tabindex="-1" role="dialog" aria-labelledby="sdlcModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img id="myImage" class="img-responsive" src="" alt="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger center-block" data-dismiss="modal">close</button>
                </div>
            </div>
        </div>
    </div>
    @*<div class="modal fade" id="sdlc" tabindex="-1" role="dialog" aria-labelledby="sdlc" aria-hidden="true">


            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">

                    <div class="modal-header special-card">
                        <h5 class="modal-title" id="exampleModalLabel">System Development Life Cycle</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <img src="~/images/SDLC.png" />
                    </div>
                    <div class="modal-footer special-card">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>*@

    <!--My History Modal -->
    @*<div class="modal fade" id="history" tabindex="-1" role="dialog" aria-labelledby="MyHistory" aria-hidden="true">


            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">

                    <div class="modal-header special-card">
                        <h5 class="modal-title" id="exampleModalLabel">My History</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body inset-text">
                        <p id="History" class="text-left tab">
                            The project was a resounding success. Analysis was completed in 3 days after I got a good look at what they had and determined what was needed. The design, which involved some un planned proof of concept programming was completed within the first 2 weeks. The first round of development on the DPS core system Scan, Index, and Administrator was completed? by the end of month 2 and production was able to be started 1 month early. By the end of the 3rd month, the distributed Optical Character Recognition system (OsCaR) had been designed and developed and pressed into service processing all the collected images thus far.
                        </p>
                        <p class="text-left tab">
                            At this time the next large-scale scan job, another legal case, came along with many different parameters. We only had to make minor adjustments to the DPS to accommodate. By the end of the 4th month we had completed production of the first job and had the 2nd job half completed. After which the DPS has evolved and processed hundreds of paper to digital conversions over our 19 years of service.
                        </p>
                        <p class="text-left tab">  <<Link to BSA-376 Systems Analysis and Design>></p>
                        <p class="text-left tab">
                            DCS closed their doors November 2010. That was a bad day with a rude awakening. See, I was 100% self-taught, I thought all those years of practical experience would have counted for something, umm nope. The software world changed around me. These days one must have at least a Bachelor degree before any employer will even talk to me.

                        </p>
                        <p class="text-left tab">
                            Since DCS, I have been surviving by doing temp labor work with the occasional software development contract. In 2013  I looked at many universities and settled on University of Phoenix as it offered two tracks of interest to me. I went with the Web design track but was able to mix in courses from the systems/application development track to avoid courses that had no relevant value. It has been a long road filled with fits and starts, when you are working poor stuff happening causes delays and class completion problems. Despite the rocky road, I will be graduating in March 2019 with a bachelor degree  of Science in Information Technology with a focus on systems design and implementation.
                        </p>
                    </div>
                    <div class="modal-footer special-card">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>*@


    <!-- //.modal-profile -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script>
        $(document).on("click", ".openImageDialog", function () {
            console.log('Ok');
        });

        $(document).on("click", ".openImageDialog", function () {
            var myImageId = $(this).data('id');
        });

        $(document).on("click", ".openImageDialog", function () {
            var myImageId = $(this).data('id');
            $(".modal-body #myImage").attr("src", myImageId);
        });
                                                                                    //$('#myModal').modal()

                                                                                    //$('a[rel=sdlc]').popover({
                                                                                    //    html: true,
                                                                                    //    trigger: 'hover',
                                                                                    //    placement: 'auto',
                                                                                    //    container: 'body',
                                                                                    //    content: function () { return '<img src="' + $(this).data('img') + '" width="" />'; }
                                                                                    //});

                                                                                    // Wait for the web page to be ready
                                                                                    ////$(document).ready(function () {
                                                                                    ////    // grab all thumbnails and add bootstrap popovers
                                                                                    ////    // https://getbootstrap.com/javascript/#popovers
                                                                                    ////    $('[data-toggle="sdlc"]').popover({
                                                                                    ////        container: 'body',
                                                                                    ////        html: true,
                                                                                    ////        placement: 'auto',
                                                                                    ////        trigger: 'hover',
                                                                                    ////        content: function () {
                                                                                    ////            // get the url for the full size img
                                                                                    ////            var url = $(this).data('full');
                                                                                    ////            return '<img src="' + url + '" style="width:100%;height:auto;">'
                                                                                    ////        }
                                                                                    ////    });
                                                                                    ////});

    </script>
</body>
</html>
